.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}




/* <----------------------Toogle Mode-----------------------> */


* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}


.checkbox {
  opacity: 0;
  position: absolute;

}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
  transform: translateX(24px);
}


/* placeholder txt color------------> */
.light-mode::placeholder {
  color: #292c35;
  /* Light mode color */
  opacity: 0.6;
}

.dark-mode::placeholder {
  color: white;
  /* Dark mode color */
  opacity: 0.6;
}

.fixbtn {
  width: 200px;
  height: 40px;
  margin-right: 150px;
}

.home-right {
  display: inline;
}

.home-right ul {
  list-style: none;
}

.home-right ul li {
  margin-bottom: 20px;
}

.logo-follow {
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
  border: 2px solid #ffffff;
  padding: 7px;
  border-radius: 12px;
  transition: all 0.3s;
}

.scale-yel:hover {
  border: 2px solid #FACA22;
  transform: scale(1.1);
  color: #FACA22;
}

.one-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.one-line p span {
  color: #f39c12;
}


.l-mode {
  color: rgb(31, 124, 230);
  border: 2px solid rgb(31, 124, 230);
}

.bby-name {
  color: aqua;
}

.bby-name span {
  color: rgba(255, 0, 0, 0.87);
}

.bby-m {
  color: rgb(226, 62, 62);
}



/* text glow */

.glow {
  font-size: 20px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}




@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}


